@import url("https://fonts.googleapis.com/css2?family=Nunito:ital,wght@0,200;0,300;0,400;0,700;1,300&display=swap");

* {
  padding: 0;
  font-family: "Nunito", sans-serif;
  box-sizing: border-box;
  width: 90%;
  margin: auto;
}

.main-area{
    
    width: 90%;
    margin: auto;
}

.top-nav {
  margin-top: 40px;
  padding: 10px;
  width: 100%;
  display: flex;
}

.menu-items li {
  display: inline;
  margin-right: 20px;
  font-size: medium;
}

.menu-items li a {
  list-style: none;
  text-decoration: none;
  justify-content: space-around;
  color: rgba(128, 128, 128, 1);
  font-size: 18px;
  font-weight: 500;
}

.btn {
  background-color: #ec4067;
  width: 80px;
  height: 35px;
  border-radius: 5px;
  border: none;
}

.btn a {
  color: #fff;
  list-style: none;
  text-decoration: none;
  font-size: 17px;
}

.landing-area {
  display: flex;
  margin: 20px;
}

.la-btns {
  display: inline-block;
  margin-left: 20px;
}

.la-left {
  padding-top: 40px;
}

.la-left h1 {
  color: #ec4067;
  font-size: 34px;
  margin: 30px;
}

.la-left p {
  font-size: 18px;
}

.btn-explore {
  background-color: #fff;
  width: 130px;
  height: 35px;
  border: 1px solid #ec4067;
  margin-top: 30px;
  margin-left: 20px;
}

.btn-explore a {
  text-decoration: none;
  color: #ec4067;
  font-size: 20px;
}

.stories {
  margin: 50px;
}

.stories-title {
  font-size: 13px;
}

.btn-stories {
  background-color: #ec4067;
  width: 130px;
  height: 35px;
  border-radius: 5px;
  border: none;
  margin-top: 30px;
}

.btn-stories a {
  text-decoration: none;
  color: #fff;
  font-size: 20px;
}

.btn-stories-1 {
  background-color: #ec4067;
  width: 180px;
  height: 35px;
  border-radius: 5px;
  border: none;
  margin-top: 20px;
}

.btn-stories-1 a {
  text-decoration: none;
  color: #fff;
  font-size: 20px;
  border: none;
}

.stories-orient-right {
  margin-top: 50px;
  width: 100%;
  margin: auto;
}

.stories-orient-right p {
  font-size: 16px;
}

.orient-title {
  margin-bottom: 10px;
}

.stories-board-left {
  margin-top: 40px;
  width: 100%;
  margin: auto;
}

.stories-grad-left p {
  font-size: 16px;
}

.orient-title {
  margin-bottom: 30px;
  font-size: 23px;
}

.orientation {
  display: flex;
  margin: 50px;
}

.para-stories {
  margin: 30px;
}

.board {
  display: flex;
  margin: 50px;
}

.graduation {
  display: flex;
  margin: 50px;
}

.projects {
  display: flex;
  margin: 60px 60px;
}

.projects-title {
  font-size: 13px;
}

.projects-left h1 {
  color: #ec4067;
  margin-top: 20px;
  margin-bottom: 30px;
}

.btn-projects {
  background-color: #ec4067;
  width: 120px;
  height: 35px;
  border-radius: 5px;
  border: none;
  margin-top: 30px;
}

.btn-projects a {
  text-decoration: none;
  color: #fff;
  font-size: 18px;
}

.buttons a {
  background-color: #ec4067;
  width: 60px;
  height: 30px;
}

.technical-mentors{
    margin-top: 80px;
}

.tms {
  margin: 50px;
}

.tms-skills {
  font-size: 14px;
}

.mentors {
  display: flex;
}

.mentors .course {
  color: #ec4067;
}

.mentor-details p {
  margin: 10px;
  font-size: 14px;
}

.mentor-details img {
  position: relative;
}
.mentor-details h4 {
  position: relative;
  bottom: 40px;
  color: #fff;
}

.btn-ask {
  background-color: #ec4067;
  width: 100px;
  height: 25px;
  border-radius: 5px;
  border: none;
  margin-left: 10px;
}

.btn-ask a {
  text-decoration: none;
  color: #fff;
  font-size: 12px;
}

.projects-main {
  margin: 80px;
}

.sure-area {
  margin: 80px;
  word-spacing: 2px;
}

.sure-area h2 {
  font-size: 27px;
  color: #ec4067;
}

.sure-area p {
  font-size: 23px;
  margin-bottom: 30px;
}

.btn-enroll {
  background-color: #ec4067;
  width: 80px;
  height: 35px;
  border-radius: 5px;
  border: none;
  margin: 10px;
}

.btn-enroll a {
  color: #fff;
  list-style: none;
  text-decoration: none;
  font-size: 17px;
}

.footer {
  background-color: rgba(128, 128, 128, 0.2);
  height: 100px;
  text-align: center;
  font-size: 20px;
  margin-top: 80px;
}

.footer p {
  padding-top: 40px;
}
